.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.house {
  background-color: lightgray;
  border: 1px solid darkgray;
  color: black;
  padding: 10px;
}

.house .houseName {
  padding: 5px;
  font-weight: bold;
}

.house .houseDetails {
  padding: 5px;
  text-align: left;
}
